body {
    margin: 0;
}
.search-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: PingFangSC-Semibold;
    font-size: 60px;
    color: #222222;
    line-height: 60px;
    padding: 51px;
    color: red;
    img {
        display: block;
        margin-top: 20px;
        width: 100%;
        max-width: 800px;
    }
}
